.account {
    padding: 80px;
    background-color: #EBE6DE;
}

.header__name {
    margin: 0;
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 16px;
    color: #FAFAFA;
}

.item_descr, .account__descr {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 18px;
    color: #070e0c;
}

.account__descr {
    margin-bottom: 70px;
}

.cars__title, .policies__title, .account__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 30px;
    color: #8d816f;
}

.account__title {
    text-align: center;
    font-size: 40px;
}

.account__container {
    justify-content: center;
    gap: 50px;
}

.account__card {
    justify-content: center;
    padding: 20px;
    gap: 50px;
    max-width: 500px;
    background-color: rgb(7, 14, 12, 0.05);
    border-radius: 20px;
}

.account__cars, .account__policies {
    text-align: center;
}