.autentification {
    padding: 250px 80px;
    text-align: center;
    background-color: #EBE6DE;
}

.aut, .reg {
    flex-direction: column;
    align-items: center;
}

.reg__data, .reg__name {
    text-align: center;
    align-items: center;
}

.reg__container {
    position: relative;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.autentification__container {
    margin-bottom: 50px;
}

.autentification__title {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 32px;
    color: #8d816f;
}

.display-none {
    display: none;
}

.aut__descr, .reg__descr {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 20px;
    color: #070E0C;
}

.aut__input, .reg__input {
    padding: 10px 30px;
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 18px;
    color: #070E0C;
    border-radius: 10px;
    border: 1px solid #8d816f;
    transition: background-color 0.3s ease-in-out;
}

.aut__input:hover, .reg__input:hover {
    background-color: rgb(7, 14, 12, 0.05);
}

.aut__input:focus, .reg__input:focus {
    outline: 1px solid #8d816f;
}

.aut__input:active, .reg__input:active {
    background-color: #8d816f;
}

.aut__input:not(:last-child), .reg__input:not(:last-child) {
    margin-bottom: 30px;
}

.aut__buton {
    padding: 10px 30px;
    width: 220px;
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 18px;
    color: #070e0c;
    background-color: #bea990;
    border-radius: 10px;
    border: 1px solid #8d816f;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.aut__buton:hover {
        background-color: #8d816f;
}

.aut__buton:focus {
        border-color: #717070;
}

.aut__buton:active {
        background-color: #717070;
}

.aut__buton:not(:last-child) {
    margin-bottom: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.alert {
    position: absolute;
    bottom: -30px;
    left: 35%;
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 18px;
    color: #070e0c;
}

.aut__item, .reg__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.reg__item {
    margin-bottom: 40px;
}

.checkbox__descr {
    margin-bottom: 80px;
}

.position {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.aut__item__error, .reg__item__error {
    font-family: 'Marxiana';
    font-weight: 400;
    font-size: 18px;
    color: red;
}

.checkbox__input {
    width: 13px;
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.checkbox__custom {
    position: absolute;
    top: 70px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 1px #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.checkbox__label:hover>.checkbox__custom {
    box-shadow: 0 0 0 1px #8d816f;
}

.checkbox__input:checked+.checkbox__custom {
    box-shadow: 0 0 0 1px #8d816f;
    background-image: url(../img/checkbox-checked-2.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox__input:focus+.checkbox__custom {
    box-shadow: 0 0 0 1px #8d816f;
}

.checkbox__input:focus+.checkbox__custom+.checkbox__descr {
    color: #8d816f;
}

.checkbox__input:checked:disabled+.checkbox__custom {
    box-shadow: 0 0 0 1px #666;
}

.checkbox__input:disabled+.checkbox__custom {
    box-shadow: 0 0 0 1px #666;
    background-image: url(../img/checkbox-checked-disabled.svg);
}
