@media(max-width: 1024px) {
    .autentification {
        padding: 200px 60px;
    }

    .autentification__title {
        font-size: 25px;
    }

    .aut__descr, .aut__input, .aut__buton {
        font-size: 15px;
    }

    .reg__input {
        width: 60%;
    }
}

@media(max-width: 768px) {
    .autentification {
        padding: 150px 20px;
    }

    .autentification__title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .aut__descr, .aut__input, .aut__buton {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .reg__input {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media(max-width: 450px) {
    .reg__container {
        flex-direction: column;
    }

    .aut__input {
        width: 80%;
    }
}